<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--begin::Head-->
<head>
	<title>Eumyurato</title>
	<link rel="icon" type="image/x-icon" th:href="@{/img/E114_logo.png}"/>
	<meta charset="utf-8" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<!--begin::Global Stylesheets Bundle(used by all pages)-->
	<link th:href="@{/css/profile/profile1.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/profile/profile2.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/profile/profile3.css}" rel="stylesheet" type="text/css" />
	<!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed aside-enabled aside-fixed aside-primary-disabled aside-secondary-enabled">
<!--begin::Main-->

<!--begin::Root-->
<div class="d-flex flex-column flex-root">
	<!--begin::Page-->
	<div class="page d-flex flex-row flex-column-fluid">
		<!--begin::Aside-->
		<div id="kt_aside" class="aside bg-info" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_toggler">
			<!--begin::Secondary-->
			<div class="aside-secondary d-flex flex-row-fluid bg-white">
				<!--begin::Workspace-->
				<div class="aside-workspace my-7 ps-5 pe-4 ps-lg-10 pe-lg-6" id="kt_aside_wordspace">
					<!--begin::Aside Menu-->
					<!--begin::Menu-->
					<div class="menu menu-column menu-rounded menu-title-gray-700 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500 fw-bold fs-6" data-kt-menu="true">
						<div class="hover-scroll-y pe-4 pe-lg-5" id="kt_aside_menu_scroll" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_aside_logo" data-kt-scroll-wrappers="#kt_aside_wordspace" data-kt-scroll-offset="10px">
							<div class="menu-wrapper menu-column menu-fit">
								<div class="menu-item here show">
									<h4 class="menu-content mb-0 fs-6 fw-bold text-uppercase" style="color: black"><b>마이페이지</b></h4>
									<div class="menu-sub menu-fit menu-sub-accordion show pb-10">
										<div class="menu-item" style="margin: 3px">
											<a class="text-dark text-hover-primary ms-3 py-2" th:href="@{/profile/admin}">
												<span class="menu-title">내 계정</span>
											</a>
										</div>
										<div class="menu-item" style="margin: 3px">
											<a class="text-dark text-hover-primary ms-3 py-2" th:href="@{/profile/admin/modify}">
												<span class="menu-title">계정 정보 수정</span>
											</a>
										</div>
										<div class="menu-item" style="margin: 3px">
											<a class="text-dark text-hover-primary ms-3 py-2" th:href="@{/profile/admin/modify}">
												<span class="menu-title">예약 내역</span>
											</a>
										</div>
										<div class="menu-item" style="margin: 3px">
											<a class="text-dark text-hover-primary ms-3 py-2" th:href="@{/profile/admin/management}">
												<span class="menu-title">공연 관리</span>
											</a>
										</div>
									</div>
								</div>
								<div class="menu-item">
									<h4 class="menu-content mb-0 fs-6 fw-bold text-uppercase" style="color: black"><b>통합 정보 조회</b></h4>
									<div class="menu-sub menu-fit menu-sub-accordion show pb-10">
										<div class="menu-item" style="margin: 3px">
											<a target="_blank" class="text-dark text-hover-primary ms-3 py-2" href="../dist/index.html">
												<span class="menu-title">종합</span>
											</a>
										</div>
										<div class="menu-item" style="margin: 3px">
											<a target="_blank" class="text-dark text-hover-primary ms-3 py-2" href="../dist/index.html">
												<span class="menu-title">접속률</span>
											</a>
										</div>
										<div class="menu-item" style="margin: 3px">
											<a target="_blank" class="text-dark text-hover-primary ms-3 py-2" th:href="@{/profile/admin/gender}">
												<span class="menu-title">성별</span>
											</a>
										</div>
										<div class="menu-item" style="margin: 3px">
											<a target="_blank" class="text-dark text-hover-primary ms-3 py-2" href="../dist/index.html">
												<span class="menu-title">팔로우</span>
											</a>
										</div>
										<div class="menu-item" style="margin: 3px">
											<a target="_blank" class="text-dark text-hover-primary ms-3 py-2" href="../dist/index.html">
												<span class="menu-title">즐겨찾기</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--end::Menu-->
				</div>
				<!--end::Workspace-->
			</div>
			<!--end::Secondary-->
		</div>
		<!--end::Aside-->
		<!--begin::Wrapper-->
		<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
			<!--begin::Header-->
			<div id="kt_header" class="header" data-kt-sticky="true" data-kt-sticky-name="header" data-kt-sticky-offset="{default: '200px', lg: '300px'}">
				<!--begin::Container-->
				<div class="container-xxl d-flex align-items-stretch justify-content-between">
					<!--begin::Left-->
					<div class="container">
						<a class="navbar-brand" href="/templates/html/main/main1.html">
							<img th:src="@{/img/logo_name.png}" width="250" height="45">
						</a>
					</div>
					<!--end::Left-->
					<!--begin::Right-->
					<div class="d-flex align-items-center">
						<!--begin::Message-->
						<button class="btn btn-icon btn-sm btn-active-bg-accent ms-1 ms-lg-6" id="kt_drawer_chat_toggle">
							<!--begin::Svg Icon | path: icons/duotune/communication/com003.svg-->
							<span class="svg-icon svg-icon-1 svg-icon-dark">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
									<path opacity="0.3" d="M2 4V16C2 16.6 2.4 17 3 17H13L16.6 20.6C17.1 21.1 18 20.8 18 20V17H21C21.6 17 22 16.6 22 16V4C22 3.4 21.6 3 21 3H3C2.4 3 2 3.4 2 4Z" fill="black" />
									<path d="M18 9H6C5.4 9 5 8.6 5 8C5 7.4 5.4 7 6 7H18C18.6 7 19 7.4 19 8C19 8.6 18.6 9 18 9ZM16 12C16 11.4 15.6 11 15 11H6C5.4 11 5 11.4 5 12C5 12.6 5.4 13 6 13H15C15.6 13 16 12.6 16 12Z" fill="black" />
								</svg>
							</span>

							<!--end::Svg Icon-->
						</button>
						<!--end::Message-->
						<!--begin::User-->

						<!--end::User-->
						<!--begin::Notifications-->
						<div class="ms-1 ms-lg-6">
							<!--begin::Dropdown-->
					<!--		<button class="btn btn-icon btn-sm btn-light-danger fw-bolder pulse pulse-danger" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" id="kt_activities_toggle">
								<span class="position-absolute fs-6">3</span> -->
					<!--		<span class="pulse-ring"></span>	-->
						<!--	</button> -->
						<!--	<button class="btn btn-icon fw-bolder" >
								<img src="/static/img/logout.png" width="24" height="24" href="../main/main.html" />
							</button> -->
							<a th:href="@{main/main.html}" height="2" width="5">
								<img th:src="@{/img/logout.png}" width="24" height="24">
							</a>
						</div>
						<!--end::Notifications-->
						<!--begin::Aside Toggler-->
						<button class="btn btn-icon btn-sm btn-active-bg-accent d-lg-none ms-1 ms-lg-6" id="kt_aside_toggler">
							<!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
							<span class="svg-icon svg-icon-1 svg-icon-dark">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
									<path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z" fill="black" />
									<path opacity="0.3" d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z" fill="black" />
								</svg>
							</span>
							<div id="sidebarContent">
								<!-- 사이드바 내용을 이곳에 추가 -->

							</div>
							<!--end::Svg Icon-->
						</button>

						<!--end::Aside Toggler-->
						<!--begin::Sidebar Toggler-->
						<!--end::Sidebar Toggler-->
					</div>

					<!--end::Right-->
				</div>
				<!--end::Container-->
			</div>
			<div>
				<div class="container">
					<div style="color:#ffffff; background-color:#8ac297; padding:25px; height: 400px; margin-top: 30px; margin-bottom: 30px;">
						검색영역~~
					</div>
				</div>

				<!-- 검색 영역과 카테고리 영역 사이에 공백을 추가 -->
				<div class="mx-2" style="margin-top: 30px; margin-bottom: 30px;"></div>

				<div class="container">
					<div style="color:#000000; background-color:#FFFFFF; padding:25px;  height: 600px;">
						<div style="display: flex; align-items: center; margin-bottom: 20px;">
							<h4 style="font-size: 24px; flex-grow: 1;"><strong>종합 정보</strong></h4>
						</div>
						<div class="container mt-5">
							<div class="row">
								<div class="col-md-12">
									<form action="/profile/admin/gender/search" method="get">
										<!-- 검색 필드 드롭다운 -->
										<select id="searchFieldDropdown" class="text-center" style="width: 10%; height: 40px; border-radius: 5px; ">
											<option class="text-center" value="name">이름</option>
											<option class="text-center" value="sex">성별</option>
										</select>

										<!-- 검색창 -->
										<input type="text" id="searchValue" name="searchValue" placeholder="" style="width: 30%; height: 40px; border-radius: 5px; border: 1px solid #cccad4">

										<!-- 검색 필드와 검색 값 전달용 hidden input -->
										<input type="hidden" id="column" name="column">
										<input type="hidden" id="keyword" name="keyword">

										<button class="btn btn-primary" type="submit" onclick="setSearchFields()" style="width: 10%;">Search</button>
										<button class="btn btn-primary" type="button" onclick="resetFormAndRedirect()" style="width: 10%;">Reset</button>
									</form>
								</div>
							</div>
						</div>

						<div class="container">
							<div style="color:#000000; background-color:#FFFFFF; padding:25px;  height: 600px;">
								<table class="table table-rounded table-striped border gy-7 gs-7">
									<thead>
									<tr class="fw-bold fs-6 text-gray-800 border-bottom border-gray-200">
										<th>ID</th>
										<th>NAME</th>
										<th>NICKNAME</th>
										<th>SEX</th>
										<th>BIRTH</th>
										<th>PHONE</th>
									</tr>
									</thead>
									<tbody>
									<tr th:each="artist : ${artists}">
										<td th:text="${artist.id}"></td>
										<td th:text="${artist.name}"></td>
										<td th:text="${artist.nid}"></td>
										<td th:text="${artist.sex}"></td>
										<td th:text="${artist.birth}"></td>
										<td th:text="${artist.phone}"></td>
									</tr>
									<tr th:each="common : ${commons}">
										<td th:text="${common.id}"></td>
										<td th:text="${common.name}"></td>
										<td th:text="${common.nid}"></td>
										<td th:text="${common.sex}"></td>
										<td th:text="${common.birth}"></td>
										<td th:text="${common.phone}"></td>
									</tr>
									</tbody>
								</table>
							</div>

							<div style="margin-top:20px;">
								<!-- 리스트 내용 -->
							</div>
						</div>




						</div>
						<div style="margin-top:20px;">

						</div>
					</div>-
				</div>
			<!--end::Header-->
			<!--begin::Main-->
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" th:src="@{/js/profile/profile_account.js}"></script>
</body>
</html>