<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ArtistMapper.xml -->
<mapper namespace="com.e114.e114_eumyuratodemo1.jdbc.ArtistMemberDAO">
    <select id="findById" resultType="com.e114.e114_eumyuratodemo1.dto.ArtistMemberDTO">
        SELECT * FROM artist_member WHERE id=#{id}
    </select>

    <select id="findByPwd" parameterType="java.lang.String" resultType="com.e114.e114_eumyuratodemo1.dto.ArtistMemberDTO">
        SELECT pwd FROM artist_member WHERE pwd=#{pwd}
    </select>
    <!--회원가입-->
    <insert id="insert" parameterType="com.e114.e114_eumyuratodemo1.dto.ArtistMemberDTO">
        INSERT INTO artist_member (id, pwd, name, nid, birth, sex, email, phone, genre,
                                   adminNum)
        VALUES (#{id}, #{pwd}, #{name}, #{nid}, #{birth}, #{sex}, #{email}, #{phone}, #{genre},
                #{adminNum})
    </insert>

    <select id="findByAdminNum" parameterType="int" resultType="com.e114.e114_eumyuratodemo1.dto.ArtistMemberDTO">
        SELECT *
        FROM artist_member
        WHERE admin_num = #{adminNum}
    </select>

    <!--중복체크-->
    <select id="useById" parameterType="java.lang.String" resultType="com.e114.e114_eumyuratodemo1.dto.ArtistMemberDTO">
        SELECT *
        FROM artist_member
        WHERE id = #{id}
    </select>

    <select id="useByNid" parameterType="java.lang.String" resultType="com.e114.e114_eumyuratodemo1.dto.ArtistMemberDTO">
        SELECT *
        FROM artist_member
        WHERE nid = #{nid}
    </select>

    <!--아이디 찾기-->
    <select id="findUserIdsByNameAndEmail" resultType="String">
        SELECT id
        FROM artist_member
        WHERE name = #{name} AND email = #{email}
    </select>

    <!--비밀번호 찾기-->
    <update id="updatePw" >
        update artist_member set pw = #{pw} where id = #{id}
    </update>
</mapper>