<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ArtistMapper.xml -->
<mapper namespace="com.e114.e114_eumyuratodemo1.jdbc.ArtistMemberDAO">
    <select id="findById" resultType="com.e114.e114_eumyuratodemo1.dto.ArtistMemberDTO">
        SELECT *
        FROM artist_member
        WHERE id = #{id}
    </select>

    <select id="findByPwd" parameterType="java.lang.String"
            resultType="com.e114.e114_eumyuratodemo1.dto.ArtistMemberDTO">
        SELECT pwd
        FROM artist_member
        WHERE pwd = #{pwd}
    </select>
    <!--회원가입-->
    <insert id="insert" parameterType="com.e114.e114_eumyuratodemo1.dto.ArtistMemberDTO">
        INSERT INTO artist_member (id, pwd, name, nid, birth, sex, email, phone, genre,
                                   adminNum)
        VALUES (#{id}, #{pwd}, #{name}, #{nid}, #{birth}, #{sex}, #{email}, #{phone}, #{genre},
                #{adminNum})
    </insert>

    <select id="findByAdminNum" parameterType="int" resultType="com.e114.e114_eumyuratodemo1.dto.ArtistMemberDTO">
        SELECT *
        FROM artist_member
        WHERE admin_num = #{adminNum}
    </select>

    <!-- 중복체크 -->
    <select id="isIdDuplicated" parameterType="java.lang.String" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0
        FROM artist_member
        WHERE id = #{id}
    </select>

    <!-- 아이디로 회원 정보 가져오기(중복) -->
    <select id="useById" parameterType="java.lang.String" resultType="com.e114.e114_eumyuratodemo1.dto.CommonMemberDTO">
        SELECT *
        FROM artist_member
        WHERE id = #{id}
    </select>


    <select id="useByNid" parameterType="java.lang.String"
            resultType="com.e114.e114_eumyuratodemo1.dto.ArtistMemberDTO">
        SELECT *
        FROM artist_member
        WHERE nid = #{nid}
    </select>

    <!--아이디 찾기-->
    <select id="findUserIdsByNameAndEmail" resultType="String">
        SELECT id
        FROM artist_member
        WHERE name = #{name}
          AND email = #{email}
    </select>

    <!--비밀번호 찾기-->
    <update id="updatePassword">
        update artist_member
        set pwd = #{pwd}
        where id = #{id}
    </update>

    <!--아티스트 랭킹-->
    <!-- Result Map 정의 -->
    <resultMap type="com.e114.e114_eumyuratodemo1.dto.ArtistMemberDTO" id="artistMemberDTOResultMap">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="point" property="point"/>
    </resultMap>

    <!-- selectTop5Artists 쿼리 정의 -->
    <select id="selectTop5Artists" resultMap="artistMemberDTOResultMap">
        SELECT id, name, point
        FROM artist_member
        ORDER BY point DESC LIMIT 5
    </select>

    <select id="getArtistMembers" resultType="com.e114.e114_eumyuratodemo1.dto.ArtistMemberDTO">
        select *
        from artist_member
        ORDER BY name ASC;
    </select>

    <select id="getCommonMembers" resultType="com.e114.e114_eumyuratodemo1.dto.CommonMemberDTO">
        select *
        from common_member
        ORDER BY name ASC;
    </select>

    <select id="searchCommonMembers" resultType="com.e114.e114_eumyuratodemo1.dto.CommonMemberDTO">
        SELECT *
        FROM common_member
        WHERE ${column} LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY name ASC;
    </select>

    <select id="searchArtistMembers" resultType="com.e114.e114_eumyuratodemo1.dto.ArtistMemberDTO">
        SELECT *
        FROM artist_member
        WHERE ${column} LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY name ASC;
    </select>

    <select id="getArtistInfoById" resultType="com.e114.e114_eumyuratodemo1.dto.ArtistMemberDTO">
        SELECT *
        FROM artist_member
        WHERE id = #{id}
          AND adminNum = 2
    </select>

    <select id="getArtistBuskings" resultType="com.e114.e114_eumyuratodemo1.dto.BuskingDTO">
        select *
        from busking
        where artId = #{artId}
        ORDER BY regDate DESC
    </select>

    <select id="searchArtistBuskings" resultType="com.e114.e114_eumyuratodemo1.dto.BuskingDTO">
        select *
        from busking
        where artId = #{artId}
          and ${column} LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY regDate DESC
    </select>

    <delete id="deleteArtistBusking">
        DELETE
        FROM busking
        WHERE id = #{param1} AND date > CURRENT_DATE
    </delete>

    <insert id="saveBuskingWithoutImage" parameterType="com.e114.e114_eumyuratodemo1.dto.BuskingDTO">
        INSERT INTO busking (name, artId, date, location)
        VALUES (#{name}, #{artId}, #{date}, #{location})
    </insert>

    <insert id="saveBusking" parameterType="com.e114.e114_eumyuratodemo1.dto.BuskingDTO">
        INSERT INTO busking (name, artId, date, location, image)
        VALUES (#{name}, #{artId}, #{date}, #{location}, #{image})
    </insert>

    <update id="modifyArtistWithoutImage" parameterType="com.e114.e114_eumyuratodemo1.dto.ArtistMemberDTO">
        UPDATE artist_member
        SET
            pwd = #{pwd},
            nid = #{nid},
            phone = #{phone},
            email = #{email},
            genre = #{genre}
        WHERE id = #{id}
    </update>

    <update id="artistModify" parameterType="com.e114.e114_eumyuratodemo1.dto.ArtistMemberDTO">
        UPDATE artist_member
        SET
            pwd = #{pwd},
            nid = #{nid},
            phone = #{phone},
            email = #{email},
            genre = #{genre},
            image = #{image}
        WHERE id = #{id}
    </update>

    <select id="artistNid" parameterType="String" resultType="map">
        SELECT COUNT(*) AS cnt
        FROM (
                 SELECT nid FROM common_member
                 UNION
                 SELECT nid FROM artist_member
             ) AS combined_tables
        WHERE nid = #{param1}
    </select>
</mapper>