<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- CommonMemberMapper.xml -->
<mapper namespace="com.e114.e114_eumyuratodemo1.jdbc.CommonMemberDAO">

    <select id="findById" parameterType="java.lang.String" resultType="com.e114.e114_eumyuratodemo1.dto.CommonMemberDTO">
        SELECT *
        FROM common_member
        WHERE id = #{id}
    </select>

    <select id="findByPwd" parameterType="java.lang.String" resultType="com.e114.e114_eumyuratodemo1.dto.CommonMemberDTO">
        SELECT *
        FROM common_member
        WHERE pwd = #{pwd}
    </select>

    <!--회원가입-->
    <insert id="insert" parameterType="com.e114.e114_eumyuratodemo1.dto.CommonMemberDTO">
        INSERT INTO common_member (id, pwd, name, nid, birth, sex, email, phone, road, genre,
                                   adminNum)
        VALUES (#{id}, #{pwd}, #{name}, #{nid}, #{birth}, #{sex}, #{email}, #{phone}, #{road}, #{genre},
                #{adminNum})
    </insert>

    <select id="findByAdminNum" parameterType="int" resultType="com.e114.e114_eumyuratodemo1.dto.CommonMemberDTO">
        SELECT *
        FROM common_member
        WHERE admin_num = #{adminNum}
    </select>

    <!-- 중복체크 -->
    <select id="isIdDuplicated" parameterType="java.lang.String" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0
        FROM common_member
        WHERE id = #{id}
    </select>

    <!-- 아이디로 회원 정보 가져오기(중복) -->
    <select id="useById" parameterType="java.lang.String" resultType="com.e114.e114_eumyuratodemo1.dto.CommonMemberDTO">
        SELECT *
        FROM common_member
        WHERE id = #{id}
    </select>


    <!-- 아이디 찾기 -->
    <select id="findUserIdsByNameAndEmail" resultType="String">
        SELECT id
        FROM common_member
        WHERE name = #{name}
          AND email = #{email}
    </select>

    <select id="useByNid" parameterType="java.lang.String" resultType="com.e114.e114_eumyuratodemo1.dto.CommonMemberDTO">
        SELECT *
        FROM common_member
        WHERE nid = #{nid}
    </select>

    <!--비밀번호 찾기-->
    <update id="updatePassword">
        update common_member
        set pwd = #{pwd}
        where id = #{id}
    </update>

    <select id="getCommonInfoById" resultType="com.e114.e114_eumyuratodemo1.dto.CommonMemberDTO">
        SELECT *
        FROM common_member
        WHERE id = #{id} AND adminNum = 1
    </select>

    <select id="getCommonReservations" resultType="com.e114.e114_eumyuratodemo1.dto.ReservationDTO">
        SELECT r.*, sc.name
        FROM reservation AS r
                 INNER JOIN schedules AS s ON r.sId = s.id
                 INNER JOIN small_concert AS sc ON s.conId = sc.id
        WHERE r.cId = #{cId}
    </select>

    <select id="searchCommonReservations" resultType="com.e114.e114_eumyuratodemo1.dto.ReservationDTO">
        SELECT r.*, sc.name
        FROM reservation AS r
                 INNER JOIN schedules AS s ON r.sId = s.id
                 INNER JOIN small_concert AS sc ON s.conId = sc.id
        WHERE cId = #{cId} and ${column} LIKE CONCAT('%', #{keyword}, '%')
    </select>

    <delete id="deleteCommonReservation">
        DELETE FROM reservation WHERE id = #{param1} AND viewDate > CURRENT_DATE
    </delete>

    <!--회원정보 수정-->
    <select id="selectCommonMemberById" resultType="com.e114.e114_eumyuratodemo1.dto.CommonMemberDTO">
        SELECT *
        FROM common_member
        WHERE id = #{id}
    </select>

    <update id="modifyCommonWithoutImage" parameterType="com.e114.e114_eumyuratodemo1.dto.CommonMemberDTO">
        UPDATE common_member
        SET
            pwd = #{pwd},
            nid = #{nid},
            phone = #{phone},
            email = #{email},
            genre = #{genre}
        WHERE id = #{id}
    </update>

    <update id="commonModify" parameterType="com.e114.e114_eumyuratodemo1.dto.CommonMemberDTO">
        UPDATE common_member
        SET
            pwd = #{pwd},
            nid = #{nid},
            phone = #{phone},
            email = #{email},
            image = #{image},
            genre = #{genre}
        WHERE id = #{id}
    </update>

    <select id="commonNid" resultType="int">
        SELECT COUNT(*) AS cnt FROM common_member WHERE nid = #{param1};
    </select>
</mapper>
