<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ArtistMapper.xml -->
<mapper namespace="com.e114.e114_eumyuratodemo1.jdbc.EnterpriseMemberDAO">
    <select id="findById" resultType="com.e114.e114_eumyuratodemo1.dto.EnterpriseMemberDTO">
        SELECT *
        FROM enterprise_member
        WHERE id = #{id}
    </select>

    <select id="findByPwd" parameterType="java.lang.String"
            resultType="com.e114.e114_eumyuratodemo1.dto.EnterpriseMemberDTO">
        SELECT pwd
        FROM enterprise_member
        WHERE pwd = #{pwd}
    </select>

    <!--회원가입-->
    <insert id="insert" parameterType="com.e114.e114_eumyuratodemo1.dto.EnterpriseMemberDTO">
        INSERT INTO enterprise_member (id, pwd, name, num, email, phone, adminNum)
        VALUES (#{id}, #{pwd}, #{name}, #{num}, #{email}, #{phone}, #{adminNum})
    </insert>

    <select id="findByAdminNum" parameterType="int" resultType="com.e114.e114_eumyuratodemo1.dto.EnterpriseMemberDTO">
        SELECT *
        FROM enterprise_member
        WHERE admin_num = #{adminNum}
    </select>

    <!-- 중복체크 -->
    <select id="isIdDuplicated" parameterType="java.lang.String" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0
        FROM enterprise_member
        WHERE id = #{id}
    </select>

    <!-- 아이디로 회원 정보 가져오기(중복) -->
    <select id="useById" parameterType="java.lang.String" resultType="com.e114.e114_eumyuratodemo1.dto.CommonMemberDTO">
        SELECT *
        FROM enterprise_member
        WHERE id = #{id}
    </select>

    <!--아이디 찾기-->
    <select id="findUserIdsByNameAndEmail" resultType="String">
        SELECT id
        FROM enterprise_member
        WHERE name = #{name}
          AND email = #{email}
    </select>

    <!--비밀번호 찾기-->
    <update id="updatePassword">
        update enterprise_member
        set pwd = #{pwd}
        where id = #{id}
    </update>

    <select id="getEntInfoById" resultType="com.e114.e114_eumyuratodemo1.dto.EnterpriseMemberDTO">
        SELECT *
        FROM enterprise_member
        WHERE id = #{id}
          AND adminNum = 3
    </select>

    <select id="getArtistMembers" resultType="com.e114.e114_eumyuratodemo1.dto.ArtistMemberDTO">
        select *
        from artist_member
        ORDER BY name ASC
    </select>

    <select id="getCommonMembers" resultType="com.e114.e114_eumyuratodemo1.dto.CommonMemberDTO">
        select *
        from common_member
        ORDER BY name ASC
    </select>

    <select id="getEntMembers" resultType="com.e114.e114_eumyuratodemo1.dto.EnterpriseMemberDTO">
        select *
        from enterprise_member
        ORDER BY name ASC
    </select>

    <select id="searchCommonMembers" resultType="com.e114.e114_eumyuratodemo1.dto.CommonMemberDTO">
        SELECT *
        FROM common_member
        WHERE ${column} LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY name ASC
    </select>

    <select id="searchArtistMembers" resultType="com.e114.e114_eumyuratodemo1.dto.ArtistMemberDTO">
        SELECT *
        FROM artist_member
        WHERE ${column} LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY name ASC
    </select>

    <select id="searchEntMembers" resultType="com.e114.e114_eumyuratodemo1.dto.EnterpriseMemberDTO">
        SELECT *
        FROM enterprise_member
        WHERE ${column} LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY name ASC
    </select>

    <select id="getEntSmallConcerts" resultType="com.e114.e114_eumyuratodemo1.dto.SmallConcertDTO">
        select *
        from small_concert
        where enterId = #{enterId}
        ORDER BY startDate DESC
    </select>

    <select id="searchEntSmallConcerts" resultType="com.e114.e114_eumyuratodemo1.dto.SmallConcertDTO">
        select *
        from small_concert
        where enterId = #{enterId}
          AND ${column} LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY regDate DESC
    </select>

    <update id="modifyEnterWithoutImage" parameterType="com.e114.e114_eumyuratodemo1.dto.EnterpriseMemberDTO">
        UPDATE enterprise_member
        SET
            pwd = #{pwd},
            phone = #{phone},
            email = #{email}
        WHERE id = #{id}
    </update>

    <update id="enterModify" parameterType="com.e114.e114_eumyuratodemo1.dto.EnterpriseMemberDTO">
        UPDATE enterprise_member
        SET
            pwd = #{pwd},
            phone = #{phone},
            email = #{email},
            image = #{image}
        WHERE id = #{id}
    </update>

    <select id="searchReservationsByEnterId" resultType="com.e114.e114_eumyuratodemo1.dto.ReservationDTO">
        SELECT r.*, sc.name
        FROM reservation r
                 JOIN schedules s ON r.sid = s.id
                 JOIN small_concert sc ON s.conId = sc.id
        WHERE sc.enterId = #{enterId}
          AND ${column} LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY payTime DESC
    </select>

    <select id="getReservationsByEnterId" resultType="com.e114.e114_eumyuratodemo1.dto.ReservationDTO">
        SELECT r.*, sc.name
        FROM reservation r
                 JOIN schedules s ON r.sid = s.id
                 JOIN small_concert sc ON s.conId = sc.id
        WHERE sc.enterId = #{enterId}
        ORDER BY payTime DESC
    </select>

    <insert id="saveConcertWithoutImage" parameterType="com.e114.e114_eumyuratodemo1.dto.SmallConcertDTO">
        INSERT INTO small_concert (name, pname, location, enterId, startDate, lastDate, price)
        VALUES (#{name}, #{pname}, #{location}, #{enterId}, #{startDate}, CONCAT(#{lastDate}, ' 23:59:59'), #{price})
    </insert>

    <insert id="saveConcert" parameterType="com.e114.e114_eumyuratodemo1.dto.SmallConcertDTO">
        INSERT INTO small_concert (enterId, name, location, pname, price, startDate, lastDate, image)
        VALUES (#{enterId}, #{name}, #{location}, #{pname}, #{price}, #{startDate}, CONCAT(#{lastDate}, ' 23:59:59'), #{image})
    </insert>

    <select id="getSmallConcertByAll" resultType="com.e114.e114_eumyuratodemo1.dto.SmallConcertDTO">
        select * from small_concert
        WHERE name = #{param1} AND price = #{param2} AND startDate = #{param3} AND lastDate = #{param4}
    </select>

    <insert id="saveSchedules">
        INSERT INTO schedules (hId,conId,conDate)
            VALUE (5000,#{param1},CONCAT(#{param2}, ' 14:30:00'))
    </insert>

    <delete id="deleteSmallConcert">
        DELETE FROM small_concert WHERE id = #{param1}
    </delete>

    <select id="getScheduleId" resultType="String">
        SELECT id
        FROM schedules
        WHERE conId = #{param1}
    </select>

    <select id="getReservationId" resultType="String">
        SELECT id
        FROM reservation
        WHERE sId IN
        <foreach item="item" collection="sId" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <delete id="deleteTickets">
        DELETE FROM ticket
        WHERE rId IN
        <foreach item="item" collection="rId" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteReservations">
        DELETE FROM reservation
        WHERE sId IN
        <foreach item="item" collection="sId" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteSchedules">
        DELETE FROM schedules
        WHERE conId = #{param1}
    </delete>

    <delete id="deleteDonation">
        DELETE FROM artist_donation
        WHERE buskId = #{param1}
    </delete>
</mapper>