<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--begin::Head-->
<head>
    <base href="../">
    <title>Eumyurato</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/E114_logo.png}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link th:href="@{/css/profile/profile1.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/profile/profile2.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/profile/profile3.css}" rel="stylesheet" type="text/css"/>
    <!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->
<body>
<button id="buskingBtn">버스킹 공연</button>
<button id="smallConcertBtn">소규모 공연</button>
<button id="localFestivalBtn">지역 축제</button>

<div id="eventList"></div>

<script type="text/javascript" th:src="@{/js/profile/profile_concert.js}"></script>
</body>
</html>