<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--begin::Head-->
<head>
    <title>Eumyurato</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/E114_logo.png}"/>
    <meta charset="utf-8" />
    <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link th:href="@{/css/profile/profile1.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/profile/profile2.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/profile/profile3.css}" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->

<body class="bg-white" id="kt_body">
<!--begin::Main-->
<div class="d-flex flex-column flex-root">
    <!--begin::Login-->
    <div class="d-flex flex-column flex-lg-row flex-column-fluid" id="kt_login">
        <div class="d-flex flex-column flex-lg-row-auto bg-primary pt-15 pt-lg-0 center" id="leftArea0">
            <!--begin::Aside Top-->
            <div class="d-flex flex-row-fluid flex-center flex-column-auto flex-column text-center mb-5 align-items-center">
                <!--begin::Aside Logo-->
                <a class="mb-6" th:href="@{/home}">
                    <div class="d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
                        <img alt="로고" id="logo1" th:src="@{/img/logo_name.png}" style="width: 400px; height: 70px;"/>
                    </div>
                </a>
            </div>
        </div>

        <div class="flex-column flex-lg-row-auto bg-primary pt-15 pt-lg-0 center" id="leftArea1">
            <!--begin::Aside Top-->
            <div class="flex-row-fluid flex-center flex-column-auto flex-column text-center mb-5 align-items-center">
                <!--begin::Aside Logo-->
                <a class="mb-6" th:href="@{/home}">
                    <div class="d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
                        <img alt="로고" id="logo2" th:src="@{/img/logo_name.png}" style="width: 400px; height: 70px; margin-top: 80px;"/>
                    </div>
                </a>
                <div class="menu-wrapper menu-column menu-fit mt-10">
                    <div class="menu-sub menu-fit menu-sub-accordion show mb-20">
                        <h1 class="menu-content mb-1 mt-10 text-center" style="font-weight: bold; font-size: 30px;">마이페이지</h1>
                        <div class="separator border-dark my-1 mx-auto" style="width: 60%; border-width: 3px;"></div>
                        <div class="menu-item" style="margin: 3px">
                            <a class="text-dark text-hover-primary ms-3 py-2" th:href="@{/profile/artist/account}">
                                <span class="menu-title" style="font-size: 20px;">내 계정</span>
                            </a>
                        </div>
                        <div class="menu-item" style="margin: 3px">
                            <a class="text-dark text-hover-primary ms-3 py-2" th:href="@{/profile/artist/modify}">
                                <span class="menu-title" style="font-size: 20px;">계정 정보 수정</span>
                            </a>
                        </div>
                        <div class="menu-item" style="margin: 3px">
                            <a class="text-dark text-hover-primary ms-3 py-2" th:href="@{/profile/artist/management/view}">
                                <span class="menu-title" style="font-size: 20px;">공연 관리</span>
                            </a>
                        </div>
                    </div>

                    <div class="menu-wrapper menu-column menu-fit mt-1">
                        <div class="menu-sub menu-fit menu-sub-accordion show">
                            <h1 class="menu-content mb-1 mt-10 text-center" style="font-weight: bold; font-size: 30px;">통합 정보 조회</h1>
                            <div class="separator border-dark my-1 mx-auto" style="width: 60%; border-width: 3px;"></div>
                            <div class="menu-item" style="margin: 3px">
                                <a class="text-dark text-hover-primary ms-3 py-2"
                                   th:href="@{/profile/artist/info/view}">
                                    <span class="menu-title" style="font-size: 20px;">공지사항</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a id="logoutBtn" class="ms-5 me-15" style="position: relative; top: 200px; left: 300px;">
                <img th:src="@{/img/logout.png}" style="height: 30px; width: 30px;">
            </a>
        </div>

        <div class="d-flex flex-column flex-lg-row-auto bg-primary pt-15 pt-lg-0 d-none d-lg-flex" id="leftArea2">
                <!--begin::Aside Logo-->
                <a class="d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
                    <img alt="로고" th:src="@{/img/logo_name.png}" style="width: 400px; height: 70px;">
                </a>
                <!--end::Aside Logo-->
        </div>

        <!--사이드-->
        <!--begin::Aside-->
        <!--begin::Content-->
        <!--메인폼-->
        <div class="login-content flex-lg-row-fluid d-flex flex-column overflow-hidden py-10 py-lg-20 px-10 p-lg-7 mx-auto mw-1000px w-100" style="display: flex">
            <!--begin::Wrapper-->
            <!--begin::Signin Form-->
            <div style="display: flex">
            <span class="form w-400px  needs-validation text-center" id="kt_login_signin_form1" novalidate>
                <div class="pb-5 pb-lg-1">
                    <h3 class="fw-bolder text-dark display-6 text-start">내 계정</h3>
                </div>
                <!--begin::Image input-->
                <div class="image-input image-input-outline"
                     data-kt-image-input="true"
                     style="display: flex; justify-content: center; align-items: center; width: 350px; height: 400px; margin-right: 50px; margin-top: 50px"
                     id="profileImg">
                </div>
                <!--end::Image input-->
            </span>
                <span class="form w-400px  needs-validation text-center" id="kt_login_signin_form2" novalidate>
                    <div class="mb-5 mw-450px text-center" style="margin-top: 55px">
                    <label class="form-label fs-6 fw-bolder text-dark pt-5" style="float:left;">아이디</label>
                    <input autocomplete="off" class="form-control form-control-lg form-control-solid"
                           name="id" id="artist-id"
                           placeholder="" style="border-color: #0099FF; font-weight: bold" type="text"  readonly/>
                </div>
                <div class="fv-row mb-5">
                    <label class="form-label fs-6 fw-bolder text-dark pt-5" style="float:left;">이름</label>
                    <input autocomplete="off" class="form-control form-control-lg form-control-solid"
                           name="fullname" id="artist-name"
                           placeholder="" style="border-color: #0099FF; font-weight: bold" type="text" readonly/>
                </div>
                <div class="fv-row mb-5">
                    <label class="form-label fs-6 fw-bolder text-dark pt-5" style="float:left;">활동명</label>
                    <input autocomplete="off" class="form-control form-control-lg form-control-solid"
                           name="nid" id="artist-nid"
                           placeholder="" style="border-color: #0099FF; font-weight: bold" type="text" readonly/>
                </div>
                <div class="fv-row mb-5">
                    <label class="form-label fs-6 fw-bolder text-dark pt-5" style="float:left;">성별</label>
                    <input autocomplete="off" class="form-control form-control-lg form-control-solid"
                           name="sex" id="artist-sex"
                           placeholder="" style="border-color: #0099FF; font-weight: bold" type="text" readonly/>
                </div>
                <div class="fv-row mb-5">
                    <label class="form-label fs-6 fw-bolder text-dark pt-5" style="float:left;">생년월일</label>
                    <input autocomplete="off" class="form-control form-control-lg form-control-solid"
                           name="birth" id="artist-birth"
                           placeholder="" style="border-color: #0099FF; font-weight: bold" type="text" readonly/>
                </div>
                <div class="fv-row mb-5">
                    <label class="form-label fs-6 fw-bolder text-dark pt-5" style="float:left;">이메일</label>
                    <input autocomplete="off" class="form-control form-control-lg form-control-solid"
                           name="email" id="artist-email"
                           placeholder="" style="border-color: #0099FF; font-weight: bold" type="text" readonly/>
                </div>
                <div class="fv-row mb-5">
                    <label class="form-label fs-6 fw-bolder text-dark pt-5" style="float:left;">휴대번호</label>
                    <input autocomplete="off" class="form-control form-control-lg form-control-solid"
                           name="phone" id="artist-phone"
                           placeholder="" style="border-color: #0099FF; font-weight: bold" type="text" readonly/>
                </div>
                <div class="fv-row mb-5">
                    <label class="form-label fs-6 fw-bolder text-dark pt-5" style="float:left;">장르</label>
                    <input autocomplete="off" class="form-control form-control-lg form-control-solid"
                           name="genre" id="artist-genre"
                           placeholder="" style="border-color: #0099FF; font-weight: bold" type="text" readonly/>
                </div>
                <div class="fv-row mb-5">
                    <label class="form-label fs-6 fw-bolder text-dark pt-5" style="float:left;">보유 포인트</label>
                    <input autocomplete="off" class="form-control form-control-lg form-control-solid"
                           name="point" id="artist-point"
                           placeholder="" style="border-color: #0099FF; font-weight: bold" type="text" readonly/>
                </div>
                </span>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/profile/profile_artistAccount.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jwt-decode/2.2.0/jwt-decode.min.js"></script>
</body>
</html>