<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!--begin::Head-->
<head>
    <base href="../">
    <title>Eumyurato</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/E114_logo.png}"/>
    <meta charset="utf-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--graph-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link th:href="@{/css/profile/profile1.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/profile/profile2.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/profile/profile3.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/profile/pagination.css}" rel="stylesheet" type="text/css"/>
    <!--end::Global Stylesheets Bundle-->

</head>
<!--end::Head-->
<!--begin::Body-->

<body class="bg-white" id="kt_body">
<!--begin::Main-->
<div class="d-flex flex-column flex-root">
    <!--begin::Login-->
    <div class="d-flex flex-column flex-lg-row flex-column-fluid" id="kt_login">
        <div class="d-flex flex-column flex-lg-row-auto bg-primary pt-15 pt-lg-0 center" id="leftArea0">
            <!--begin::Aside Top-->
            <div class="d-flex flex-row-fluid flex-center flex-column-auto flex-column text-center mb-5 align-items-center">
                <!--begin::Aside Logo-->
                <a class="mb-6" th:href="@{/home}">
                    <div class="d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
                        <img alt="로고" id="logo1" th:src="@{/img/logo_name.png}" style="width: 400px; height: 70px;"/>
                    </div>
                </a>
            </div>
        </div>

        <div class="flex-column flex-lg-row-auto bg-primary pt-15 pt-lg-0 center" id="leftArea1">
            <!--begin::Aside Top-->
            <div class="flex-row-fluid flex-center flex-column-auto flex-column text-center mb-5 align-items-center">
                <!--begin::Aside Logo-->
                <a class="mb-6" th:href="@{/home}">
                    <div class="d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
                        <img alt="로고" id="logo2" th:src="@{/img/logo_name.png}"
                             style="width: 400px; height: 70px; margin-top: 80px;"/>
                    </div>
                </a>
                <div class="menu-wrapper menu-column menu-fit mt-10">
                    <div class="menu-sub menu-fit menu-sub-accordion show mb-20">
                        <h1 class="menu-content mb-1 mt-10 text-center" style="font-weight: bold; font-size: 30px;">
                            마이페이지</h1>
                        <div class="separator border-dark my-1 mx-auto" style="width: 60%; border-width: 3px;"></div>
                        <div class="menu-item" style="margin: 3px">
                            <a class="text-dark text-hover-primary ms-3 py-2" th:href="@{/profile/admin/account}">
                                <span class="menu-title" style="font-size: 20px; margin-right: 85px;">내 계정</span>
                            </a>
                        </div>
                        <div class="menu-item" style="margin: 3px">
                            <a class="text-dark text-hover-primary ms-3 py-2"
                               th:href="@{/profile/admin/reservation/view}">
                                <span class="menu-title" style="font-size: 20px;">사용자 예약 내역</span>
                            </a>
                        </div>
                        <div class="menu-item" style="margin: 3px">
                            <a class="text-dark text-hover-primary ms-3 py-2"
                               th:href="@{/profile/admin/management/view}">
                                <span class="menu-title" style="font-size: 20px; margin-right: 65px;">공연 관리</span>
                            </a>
                        </div>
                    </div>

                    <div class="menu-wrapper menu-column menu-fit mt-5">
                        <div class="menu-sub menu-fit menu-sub-accordion show">
                            <h1 class="menu-content mb-1 mt-10 text-center" style="font-weight: bold; font-size: 30px;">
                                통합 정보 조회</h1>
                            <div class="separator border-dark my-1 mx-auto"
                                 style="width: 60%; border-width: 3px;"></div>
                            <div class="menu-item" style="margin: 3px">
                                <a class="text-dark text-hover-primary ms-3 py-2"
                                   th:href="@{/profile/admin/total/view}">
                                    <span class="menu-title" style="font-size: 20px; margin-right: 65px;">회원 정보</span>
                                </a>
                            </div>
                            <div class="menu-item" style="margin: 3px">
                                <a class="text-dark text-hover-primary ms-3 py-2"
                                   th:href="@{/profile/admin/total/chart}">
                                    <span class="menu-title" style="font-size: 20px; margin-right: 20px;">회원 종합 차트</span>
                                </a>
                            </div>
                            <div class="menu-item" style="margin: 3px">
                                <a class="text-dark text-hover-primary ms-3 py-2"
                                   th:href="@{/profile/admin/info/view}">
                                    <span class="menu-title" style="font-size: 20px; margin-right: 70px;">공지사항</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a id="logoutBtn" class="ms-5 me-15" style="position: relative; top: 200px; left: 300px;">
                <img th:src="@{/img/logout.png}" style="height: 30px; width: 30px;">
            </a>
        </div>

        <div class="d-flex flex-column flex-lg-row-auto bg-primary pt-15 pt-lg-0 d-none d-lg-flex" id="leftArea2">
            <div class="d-flex flex-row-fluid flex-center flex-column-auto flex-column text-center mb-5 align-items-center">
                <!--begin::Aside Logo-->
                <a class="d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
                    <img alt="로고" th:src="@{/img/logo_name.png}" style="width: 400px; height: 70px;">
                </a>
                <!--end::Aside Logo-->
            </div>
        </div>


        <!--사이드-->
        <!--begin::Aside-->
        <!--begin::Content-->
        <!--메인폼-->
        <div class="login-content flex-lg-row-fluid d-flex flex-column overflow-hidden py-10 py-lg-20 px-10 p-lg-7 mx-auto mw-1000px w-100"
             style="display: flex">
            <!--begin::Wrapper-->
            <div class="form w-1000px h-1500px needs-validation text-center" id="graph" novalidate>
                <div class="container">
                    <div class="row w-1000px">
                        <div class="col-md-8 w-1200px" style="margin-right: 50px;">
                            <div class="pb-5 pb-lg-1">
                                <p class="fw-bolder text-dark display-6 text-start"
                                   style="font-size: 50px; margin-top: 70px; margin-bottom: 30px;">종합 차트</p>
                            </div>
                            <div class="text-lg-start text-start" style="margin-bottom: 80px; display: block">
                                <a class="text-gray-600 text-hover-primary" id="commonBtn"
                                   style="font-size: 20px; cursor:pointer;">일반 회원</a>
                                <a target="_blank"
                                   class="text-gray-600 text-hover-primary ms-3"
                                   style="margin-right: 7px; font-size: 20px;">|</a>
                                <a class="text-gray-600 text-hover-primary" id="artistBtn"
                                   style="font-size: 20px; cursor:pointer;">아티스트 회원</a>
                            </div>
                            <div id="artistSpan" style="display: none; margin-top: 15px;">
                                <span id="afterTodayBusking"
                                      style="font-size: 20px; margin-left: 10px; font-weight:bold;"></span>
                                <span id="buskingCount"
                                      style="font-size: 20px; margin-left: 10px; font-weight:bold;"></span>
                                <span id="avg"
                                      style="font-size: 20px; margin-left: 10px; display: none; font-weight:bold;"></span>
                            </div>

                            <div id="common"
                                 style="margin-top: 15px; margin-bottom: 50px; display: flex; flex-direction: row;">
                            <span class="chart-container">
                                <canvas style="width: 300px; height: 300px; margin-right: 30px;" id="commonGenderChart"></canvas>
                             <p style="font-size: 30px; font-weight: bold; margin-top: 20px; margin-right: 10px;">성별</p>
                             </span>
                                <span class="chart-container">
                                 <canvas style="width: 320px; height: 300px; margin-right: 30px;" id="commonRoadChart"></canvas>
                                  <p style="font-size: 30px; font-weight: bold; margin-top: 20px;">유입 경로</p>
                                 </span>
                                    <span class="chart-container" style="margin-top: 10px;">
                                    <canvas style="width: 300px; height: 300px; margin-top: 0;" id="commonGenreChart"></canvas>
                                     <p style="font-size: 30px; font-weight: bold; margin-top: 20px;">선호 장르</p>
                                     </span>
                                </div>



                            <div id="artist" style="display: none; margin-top: 15px;">
                                <div style="margin-bottom: 30px;">
                                    <canvas id="artistPointChart" style="margin-top: 30px; width: 300px; height: 150px;"></canvas>
                                    <p style="font-size: 30px; font-weight: bold; margin-top: 20px; ">아티스트 포인트 현황</p>
                                </div>
                                <div style="margin-top: 100px; margin-bottom: 50px; display: flex; flex-direction: row;">
                                <span class="chart-container"><canvas
                                        style="width: 300px; height: 300px; margin-right: 30px;"
                                        id="aritstGenderChart"></canvas>
                                <p style="font-size: 30px; font-weight: bold; margin-top: 20px;">성별 현황</p>
                                </span>
                                <span class="chart-container"><canvas
                                        style="width: 300px; height: 300px; margin-right: 30px;"
                                        id="artistGenreChart"></canvas>
                                    <p style="font-size: 30px; font-weight: bold; margin-top: 20px;">장르 현황</p></span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--begin::Signin Form-->
        </div>
    </div>
</div>
</div>
<script type="text/javascript" th:src="@{/js/profile/profile_admin_graph.js}"></script>
</body>
</html>
