<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!--begin::Head-->
<head>
    <base href="../">
    <title>Eumyurato</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/E114_logo.png}"/>
    <meta charset="utf-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link type="text/css" th:href="@{https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css}" rel="stylesheet" />
    <link th:href="@{/css/profile/profile1.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/profile/profile2.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/profile/profile3.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/profile/datepicker.css}" rel="stylesheet" type="text/css"/>
    <!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->

<body class="bg-white" id="kt_body">
<!--begin::Main-->
<div class="d-flex flex-column flex-root">
    <!--begin::Login-->
    <div class="d-flex flex-column flex-lg-row flex-column-fluid" id="kt_login">
        <div class="d-flex flex-column flex-lg-row-auto bg-primary pt-15 pt-lg-0 center" id="leftArea0">
            <!--begin::Aside Top-->
            <div class="d-flex flex-row-fluid flex-center flex-column-auto flex-column text-center mb-5 align-items-center">
                <!--begin::Aside Logo-->
                <a class="mb-6" th:href="@{/home}">
                    <div class="d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
                        <img alt="로고" id="logo1" th:src="@{/img/logo_name.png}" style="width: 400px; height: 70px;"/>
                    </div>
                </a>
            </div>
        </div>

        <div class="flex-column flex-lg-row-auto bg-primary pt-15 pt-lg-0 center" id="leftArea1">
            <!--begin::Aside Top-->
            <div class="flex-row-fluid flex-center flex-column-auto flex-column text-center mb-5 align-items-center">
                <!--begin::Aside Logo-->
                <a class="mb-6" th:href="@{/home}">
                    <div class="d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
                        <img alt="로고" id="logo2" th:src="@{/img/logo_name.png}"
                             style="width: 400px; height: 70px; margin-top: 80px;"/>
                    </div>
                </a>
                <div class="menu-wrapper menu-column menu-fit mt-10">
                    <div class="menu-sub menu-fit menu-sub-accordion show mb-20">
                        <h1 class="menu-content mb-1 mt-10 text-center" style="font-weight: bold">마이페이지</h1>
                        <div class="separator border-dark my-1 mx-auto" style="width: 60%; border-width: 3px;"></div>
                        <div class="menu-item" style="margin: 3px">
                            <a class="text-dark text-hover-primary ms-3 py-2" th:href="@{/profile/admin/account}">
                                <span class="menu-title">내 계정</span>
                            </a>
                        </div>
                        <div class="menu-item" style="margin: 3px">
                            <a class="text-dark text-hover-primary ms-3 py-2" th:href="@{/profile/admin/modify}">
                                <span class="menu-title">계정 정보 수정</span>
                            </a>
                        </div>
                        <div class="menu-item" style="margin: 3px">
                            <a class="text-dark text-hover-primary ms-3 py-2" th:href="@{/profile/admin/reservation/view}">
                                <span class="menu-title">예약 내역</span>
                            </a>
                        </div>
                        <div class="menu-item" style="margin: 3px">
                            <a class="text-dark text-hover-primary ms-3 py-2" th:href="@{/profile/admin/management/view}">
                                <span class="menu-title">공연 관리</span>
                            </a>
                        </div>
                    </div>

                    <div class="menu-wrapper menu-column menu-fit mt-1">
                        <div class="menu-sub menu-fit menu-sub-accordion show">
                            <h1 class="menu-content mb-1 mt-10 text-center" style="font-weight: bold">통합 정보 조회</h1>
                            <div class="separator border-dark my-1 mx-auto"
                                 style="width: 60%; border-width: 3px;"></div>
                            <div class="menu-item" style="margin: 3px">
                                <a class="text-dark text-hover-primary ms-3 py-2"
                                   th:href="@{/profile/admin/total/view}">
                                    <span class="menu-title">회원 정보</span>
                                </a>
                            </div>
                            <div class="menu-item" style="margin: 3px">
                                <a class="text-dark text-hover-primary ms-3 py-2"
                                   th:href="@{/profile/admin/total/chart}">
                                    <span class="menu-title">회원 종합 차트</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a id="logoutBtn" class="ms-5 me-15" style="position: relative; top: 200px; left: 300px;">
                <img th:src="@{/img/logout.png}" style="height: 30px; width: 30px;">
            </a>
        </div>

        <div class="d-flex flex-column flex-lg-row-auto bg-primary pt-15 pt-lg-0 d-none d-lg-flex" id="leftArea2">
            <div class="d-flex flex-row-fluid flex-center flex-column-auto flex-column text-center mb-5 align-items-center">
                <!--begin::Aside Logo-->
                <a class="d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
                    <img alt="로고" th:src="@{/img/logo_name.png}" style="width: 400px; height: 70px;">
                </a>
                <!--end::Aside Logo-->
            </div>
        </div>


        <!--사이드-->
        <!--begin::Aside-->
        <!--begin::Content-->
        <!--메인폼-->
        <div class="login-content flex-lg-row-fluid d-flex flex-column overflow-hidden py-10 py-lg-20 px-10 p-lg-7 mx-auto mw-1000px w-100" style="display: flex">
            <!--begin::Wrapper-->
            <!--begin::Signin Form-->
            <form class="form w-450px  needs-validation text-center" id="kt_login_signin_form" novalidate>
                <div class="pb-5 pb-lg-1">
                    <h3 class="fw-bolder text-dark display-6 text-center">소규모 공연 등록</h3>
                </div>
                <!--begin::Image input-->
                <div class="image-input image-input-outline" data-kt-image-input="true"
                     style="display: flex; justify-content: center; align-items: center">
                    <!--begin::Image preview wrapper-->
                    <div style="width:350px; height:400px; overflow: hidden; display: flex; justify-content: center; align-items: center; position: relative;">
                        <img id="previewImage" src="#" alt="프로필사진" style="max-width: 100%; max-height: 100%; object-fit: cover;"/>
                        <!--end::Image preview wrapper-->

                        <!--begin::Edit button-->
                        <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow"
                               data-kt-image-input-action="change"
                               data-bs-toggle="tooltip"
                               data-bs-dismiss="click"
                               title="Change avatar"
                               style="position: absolute; right: 10px; top: 10px;">
                            <i class="bi bi-pencil-fill fs-7"></i>
                            <!--begin::Inputs-->
                            <input type="file" name="avatar" accept=".jpg, .png"/>
                            <input type="hidden" name="avatar_remove"/>
                            <!--end::Inputs-->
                        </label>
                        <!--end::Edit button-->
                    </div>
                </div>
                <!--end::Image input-->

                <div class="fv-row mb-5">
                    <label class="form-label fs-6 fw-bolder text-dark pt-5">공연명</label>
                    <label class="form-label fs-8 fw-bolder pt-4" style="color: #ff0000">*</label>
                    <input class="form-control form-control-lg form-control-solid" type="text"
                           placeholder=""
                           name="name" autocomplete="off" style="border-color: #0099FF;"/>
                    <label class="form-label fs-6 fw-bolder text-dark pt-5">공연자</label>
                    <label class="form-label fs-8 fw-bolder pt-4" style="color: #ff0000">*</label>
                    <input class="form-control form-control-lg form-control-solid" type="text"
                           placeholder=""
                           name="pname" autocomplete="off" style="border-color: #0099FF;"/>
                </div>
                <div class="fv-row mb-5">
                    <label class="form-label fs-6 fw-bolder text-dark pt-5">주소</label>
                    <label class="form-label fs-8 fw-bolder pt-4" style="color: #ff0000">*</label>
                    <div style="display: flex; align-items: center;">
                        <input type="text" id="sample4_postcode" class="form-control form-control-lg form-control-solid" placeholder="우편번호"
                               autocomplete="off" style="border-color: #0099FF; width: 250px; margin-right: 50px;" readonly>
                        <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기" class="btn btn-primary fw-bolder fs-4 px-8 py-4 my-3 me-4">
                    </div>
                    <input type="text" id="sample4_roadAddress" name="sample4_roadAddress" class="form-control form-control-lg form-control-solid" placeholder="주소"
                           autocomplete="off" style="border-color: #0099FF;" readonly><br>
                    <input type="text" id="sample4_detailAddress" class="form-control form-control-lg form-control-solid" placeholder="상세주소"
                           autocomplete="off" style="border-color: #0099FF;">
                </div>

                <div class=" fv-row mb-5">
                    <label class="form-label fs-6 fw-bolder text-dark pt-5">기업 ID</label>
                    <label class="form-label fs-8 fw-bolder pt-4" style="color: #ff0000">*</label>
                    <input class="form-control form-control-lg form-control-solid" type="text"
                           name="enterId" id="enterId" autocomplete="off" style="border-color: #0099FF;"/>
                </div>
                <div class=" fv-row mb-5">
                    <div>

                        <div class=" fv-row mb-5">
                            <label class="form-label fs-6 fw-bolder text-dark pt-5">공연 시작 일자</label>
                            <label class="form-label fs-8 fw-bolder pt-4" style="color: #ff0000">*</label>
                            <input autocomplete="off" class="form-control form-control-lg form-control-solid datepicker"
                                   id="startDate" name="startDate" placeholder="" required
                                   style="border-color: #0099FF;" type="text"/>

                            <label class="form-label fs-6 fw-bolder text-dark pt-5">공연 마감 일자</label>
                            <label class="form-label fs-8 fw-bolder pt-4" style="color: #ff0000">*</label>
                            <input autocomplete="off" class="form-control form-control-lg form-control-solid datepicker"
                                   id="lastDate" name="lastDate" placeholder="" required
                                   style="border-color: #0099FF;" type="text"/>
                        </div>

                    </div>
                </div>
                <div class=" fv-row mb-5">
                    <label class="form-label fs-6 fw-bolder text-dark pt-5">가격</label>
                    <label class="form-label fs-8 fw-bolder pt-4" style="color: #ff0000">*</label>
                    <input class="form-control form-control-lg form-control-solid" type="text"
                           name="price" id="price" autocomplete="off" style="border-color: #0099FF;"/>
                </div>
                <div class="fv-row mb-10 mt-10"> <!-- mt-5를 추가하여 위쪽에 5단위의 빈 공간을 추가 -->
                    <div class="d-flex flex-wrap justify-content-center pb-lg-0 pb-5">
                        <!-- justify-content-end 클래스를 추가하여 오른쪽으로 정렬 -->
                        <button type="submit" class="btn btn-primary fw-bolder fs-4 px-8 py-4 my-3 me-4"
                                 id="concertRegister">공연 등록
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<!--우편번호 API-->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<!--datepicker용-->
<script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/profile/profile_concert_register.js}"></script>
<!-- 캘린더 옵션 { -->
<script>
    $.datepicker.setDefaults({
        closeText: "닫기",
        prevText: "이전달",
        nextText: "다음달",
        currentText: "오늘",
        monthNames: ["1월", "2월", "3월", "4월", "5월", "6월",
            "7월", "8월", "9월", "10월", "11월", "12월"
        ],
        monthNamesShort: ["1월", "2월", "3월", "4월", "5월", "6월",
            "7월", "8월", "9월", "10월", "11월", "12월"
        ],
        dayNames: ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"],
        dayNamesShort: ["일", "월", "화", "수", "목", "금", "토"],
        dayNamesMin: ["일", "월", "화", "수", "목", "금", "토"],
        weekHeader: "주",
        dateFormat: "yy.m.d", // 날짜형태 예)yy년 m월 d일
        firstDay: 0,
        isRTL: false,
        showMonthAfterYear: true,
        yearSuffix: "년"
    })

    $(".datepicker").datepicker({
        minDate: 0
    })

    $('#startDate, #lastDate').datepicker('setDate', 'today');
</script>
<!-- } -->
</body>
</html>