<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!--begin::Head-->
<head>
    <base href="../">
    <title>Eumyurato</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/E114_logo.png}"/>
    <meta charset="utf-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link th:href="@{/css/profile/profile1.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/profile/profile2.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/profile/profile3.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/profile/pagination.css}" rel="stylesheet" type="text/css"/>
    <!--end::Global Stylesheets Bundle-->

</head>
<!--end::Head-->
<!--begin::Body-->

<body class="bg-white" id="kt_body">
<!--begin::Main-->
<div class="d-flex flex-column flex-root">
    <!--begin::Login-->
    <div class="d-flex flex-column flex-lg-row flex-column-fluid" id="kt_login">
        <div class="d-flex flex-column flex-lg-row-auto bg-primary pt-15 pt-lg-0 center" id="leftArea0">
            <!--begin::Aside Top-->
            <div class="d-flex flex-row-fluid flex-center flex-column-auto flex-column text-center mb-5 align-items-center">
                <!--begin::Aside Logo-->
                <a class="mb-6" th:href="@{/home}">
                    <div class="d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
                        <img alt="로고" id="logo1" th:src="@{/img/logo_name.png}" style="width: 400px; height: 70px;"/>
                    </div>
                </a>
            </div>
        </div>

        <div class="flex-column flex-lg-row-auto bg-primary pt-15 pt-lg-0 center" id="leftArea1">
            <!--begin::Aside Top-->
            <div class="flex-row-fluid flex-center flex-column-auto flex-column text-center mb-5 align-items-center">
                <!--begin::Aside Logo-->
                <a class="mb-6" th:href="@{/home}">
                    <div class="d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
                        <img alt="로고" id="logo2" th:src="@{/img/logo_name.png}"
                             style="width: 400px; height: 70px; margin-top: 80px;"/>
                    </div>
                </a>
                <div class="menu-wrapper menu-column menu-fit mt-10">
                    <div class="menu-sub menu-fit menu-sub-accordion show mb-20">
                        <h1 class="menu-content mb-1 mt-10 text-center" style="font-weight: bold; font-size: 30px;">마이페이지</h1>
                        <div class="separator border-dark my-1 mx-auto" style="width: 60%; border-width: 3px;"></div>
                        <div class="menu-item" style="margin: 3px">
                            <a class="text-dark text-hover-primary ms-3 py-2" th:href="@{/profile/admin/account}">
                                <span class="menu-title" style="font-size: 20px;">내 계정</span>
                            </a>
                        </div>
                        <div class="menu-item" style="margin: 3px">
                            <a class="text-dark text-hover-primary ms-3 py-2" th:href="@{/profile/admin/reservation/view}">
                                <span class="menu-title" style="font-size: 20px;">사용자 예약 내역</span>
                            </a>
                        </div>
                        <div class="menu-item" style="margin: 3px">
                            <a class="text-dark text-hover-primary ms-3 py-2" th:href="@{/profile/admin/management/view}">
                                <span class="menu-title" style="font-size: 20px;">공연 관리</span>
                            </a>
                        </div>
                    </div>

                    <div class="menu-wrapper menu-column menu-fit mt-5">
                        <div class="menu-sub menu-fit menu-sub-accordion show">
                            <h1 class="menu-content mb-1 mt-10 text-center" style="font-weight: bold; font-size: 30px;">통합 정보 조회</h1>
                            <div class="separator border-dark my-1 mx-auto" style="width: 60%; border-width: 3px;"></div>
                            <div class="menu-item" style="margin: 3px">
                                <a class="text-dark text-hover-primary ms-3 py-2"
                                   th:href="@{/profile/admin/total/view}">
                                    <span class="menu-title" style="font-size: 20px;">회원 정보</span>
                                </a>
                            </div>
                            <div class="menu-item" style="margin: 3px">
                                <a class="text-dark text-hover-primary ms-3 py-2"
                                   th:href="@{/profile/admin/total/chart}">
                                    <span class="menu-title" style="font-size: 20px;">회원 종합 차트</span>
                                </a>
                            </div>
                            <div class="menu-item" style="margin: 3px">
                                <a class="text-dark text-hover-primary ms-3 py-2"
                                   th:href="@{/profile/admin/info/view}">
                                    <span class="menu-title" style="font-size: 20px;">공지사항</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a id="logoutBtn" class="ms-5 me-15" style="position: relative; top: 200px; left: 300px;">
                <img th:src="@{/img/logout.png}" style="height: 30px; width: 30px;">
            </a>
        </div>

        <div class="d-flex flex-column flex-lg-row-auto bg-primary pt-15 pt-lg-0 d-none d-lg-flex" id="leftArea2">
            <div class="d-flex flex-row-fluid flex-center flex-column-auto flex-column text-center mb-5 align-items-center">
                <!--begin::Aside Logo-->
                <a class="d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
                    <img alt="로고" th:src="@{/img/logo_name.png}" style="width: 400px; height: 70px;">
                </a>
                <!--end::Aside Logo-->
            </div>
        </div>


        <!--사이드-->
        <!--begin::Aside-->
        <!--begin::Content-->
        <!--메인폼-->
        <div class="login-content flex-lg-row-fluid d-flex flex-column overflow-hidden py-10 py-lg-20 px-10 p-lg-7 mx-auto mw-1000px w-100"
             style="display: flex">
            <!--begin::Wrapper-->
            <!--begin::Signin Form-->
            <div class="form w-1000px  needs-validation text-center" id="kt_login_signin_form" novalidate>
                <div style="color:#000000; background-color:#FFFFFF; padding:25px;  height: 600px;">
                    <div style="display: flex; align-items: center; margin-bottom: 20px;">
                        <h4 style="font-size: 24px; flex-grow: 1;"><strong>회원 정보</strong></h4>
                        <button class="text-gray-600 ms-3 fs-5" id="commonBtn">일반 회원</button>
                        <a target="_blank" class="text-gray-600 text-hover-primary ms-3">|</a>
                        <button class="text-gray-600 ms-3 fs-5" id="artistBtn">아티스트 회원</button>
                        <a target="_blank" class="text-gray-600 text-hover-primary ms-3">|</a>
                        <button class="text-gray-600 ms-3 fs-5" id="enterpriseBtn">기업 회원</button>
                    </div>
                    <span class="search-container">
                        <select id="searchColumn" style="width: 10%; height: 40px; border-radius: 5px;">
                            <!-- 일반 회원 옵션 -->
                            <option class="common" value="id">아이디</option>
                            <option class="common" value="nid">닉네임</option>
                            <option class="common" value="genre">선호 장르</option>

                            <!-- 아티스트 회원 옵션 -->
                            <option class="artist" value="id">아이디</option>
                            <option class="artist" value="nid">활동명</option>
                            <option class="artist" value="genre">장르</option>

                            <!-- 기업 회원 옵션 -->
                            <option class="enterprise" value="id">아이디</option>
                            <option class="enterprise" value="name">기업명</option>
                        </select>
                        <input type="text" id="searchKeyword" placeholder="검색어 입력" style="width: 30%; height: 40px; border-radius: 5px; border: 1px solid #cccad4">
                        <button class="btn btn-primary" id="searchBtn" style="width: 10%;" >Search</button>
                    </span>
                    <div>
                        <div class="container mt-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-rounded table-striped border gy-7 gs-7" id="memberTable">
                                        <thead id="memberThead">
                                        <tr class="fw-bold fs-6 text-gray-800 border-bottom border-gray-200">
                                            <!-- 기본 공통 컬럼 -->

                                            <!-- 일반 회원 컬럼 -->
                                            <th class="common" style="display: none">아이디</th>
                                            <th class="common" style="display: none">성명</th>
                                            <th class="common" style="display: none">닉네임</th>
                                            <th class="common" style="display: none">성별</th>
                                            <th class="common" style="display: none">생년월일</th>
                                            <th class="common" style="display: none">이메일</th>
                                            <th class="common" style="display: none">번호</th>
                                            <th class="common" style="display: none">유입 경로</th>
                                            <th class="common" style="display: none">선호 장르</th>

                                            <!-- 아티스트 회원 컬럼 -->
                                            <th class="artist" style="display: none">아이디</th>
                                            <th class="artist" style="display: none">성명</th>
                                            <th class="artist" style="display: none">활동명</th>
                                            <th class="artist" style="display: none">성별</th>
                                            <th class="artist" style="display: none">생년월일</th>
                                            <th class="artist" style="display: none">이메일</th>
                                            <th class="artist" style="display: none">번호</th>
                                            <th class="artist" style="display: none">장르</th>
                                            <th class="artist" style="display: none">포인트</th>

                                            <!-- 기업 회원 컬럼 -->
                                            <th class="enterprise" style="display: none">아이디</th>
                                            <th class="enterprise" style="display: none">기업명</th>
                                            <th class="enterprise" style="display: none">사업자 등록번호</th>
                                            <th class="enterprise" style="display: none">이메일</th>
                                            <th class="enterprise" style="display: none">대표 번호</th>
                                        </tr>
                                        </thead>
                                        <tbody id="memberTbody">
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="16">
                                                <ul class="pagination"></ul>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" th:src="@{/js/profile/profile_member.js}"></script>
</body>
</html>