<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--begin::Head-->

<head>
    <title>Eumyurato</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/E114_logo.png}"/>
    <meta charset="utf-8"/>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link th:href="@{/css/loginJoin/loginJoin2.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/loginJoin/loginJoin1.css}" rel="stylesheet" type="text/css"/>
    <!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->

<body id="kt_body" class="bg-white">
<!--begin::Main-->
<div class="d-flex flex-column flex-root">
    <!--begin::Login-->
    <div class="d-flex flex-column flex-lg-row flex-column-fluid" id="kt_login">
        <div class="d-flex flex-column flex-lg-row-auto bg-primary pt-15 pt-lg-0 center" id="leftArea">
            <!--begin::Aside Top-->
            <div class="d-flex flex-row-fluid flex-center flex-column-auto flex-column text-center mb-5 align-items-center">
                <!--begin::Aside Logo-->
                <a th:href="@{/main}" class="mb-6">
                    <div class="d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
                        <img alt="로고" th:src="@{/img/E114_logo.png}" class="h-450px h-lg-450px"/>
                    </div>
                </a>
                <!--end::Aside Logo-->
            </div>
        </div>
        <div class="d-flex flex-column flex-lg-row-auto bg-primary pt-15 pt-lg-0 d-none d-lg-flex" id="leftArea2">
            <div class="d-flex flex-row-fluid flex-center flex-column-auto flex-column text-center mb-5 align-items-center">
                <!--begin::Aside Logo-->
                <div class="d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
                    <img alt="로고" th:src="@{/img/E114_logo.png}" class="h-450px h-lg-450px"/>
                </div>
                <!--end::Aside Logo-->
            </div>
        </div>

        <!--사이드-->
        <!--begin::Aside-->
        <!--begin::Content-->
        <!--로그인폼-->
        <div class="login-content flex-lg-row-fluid d-flex flex-column overflow-hidden py-10 py-lg-20 px-10 p-lg-7 mx-auto mw-450px w-100 text-center">
            <!--begin::Wrapper-->
            <!--begin::Signin Form-->
            <form class="form w-100 " novalidate="novalidate" id="kt_login_signin_form">
                <div class="wrapper-btn">
                    <button type="button" id="btn1"
                            class="btn btn-primary fw-bolder fs-3 px-8 py-4 my-3 me-4 mb-15 custom-btn"
                            th:onclick="|location.href='@{/common}'|">일반회원 회원가입
                    </button>
                    <button type="button" id="btn2"
                            class="btn btn-primary fw-bolder fs-3 px-8 py-4 my-3 me-4 mb-15 custom-btn"
                            th:onclick="|location.href='@{/artist}'|">아티스트회원 회원가입
                    </button>
                    <button type="button" id="btn3"
                            class="btn btn-primary fw-bolder fs-3 px-8 py-4 my-3 me-4 mb-15 custom-btn"
                            th:onclick="|location.href='@{/enterprise}'|">기업회원 회원가입
                    </button>
                </div>


                <!--end::Action-->
            </form>
        </div>
    </div>
</div>
</body>
</html>