<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--begin::Head-->

<head>
    <title>Eumyurato</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/E114_logo.png}"/>
    <meta charset="utf-8"/>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
            integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link th:href="@{/css/loginJoin/loginJoin2.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/loginJoin/loginJoin1.css}" rel="stylesheet" type="text/css"/>
    <!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->

<body id="kt_body" class="bg-white">
<!--begin::Main-->
<div class="d-flex flex-column flex-root">
    <!--begin::Login-->
    <div class="d-flex flex-column flex-lg-row flex-column-fluid" id="kt_login">
        <div class="d-flex flex-column flex-lg-row-auto bg-primary pt-15 pt-lg-0 center" id="leftArea">
            <!--begin::Aside Top-->
            <div class="d-flex flex-row-fluid flex-center flex-column-auto flex-column text-center mb-5 align-items-center">
                <!--begin::Aside Logo-->
                <a th:href="@{/main}" class="mb-6">
                    <div class="d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
                        <img alt="로고" th:src="@{/img/E114_logo.png}" class="h-450px h-lg-450px"/>
                    </div>
                </a>
                <!--end::Aside Logo-->
            </div>
        </div>
        <div class="d-flex flex-column flex-lg-row-auto bg-primary pt-15 pt-lg-0 d-none d-lg-flex" id="leftArea2">
            <div class="d-flex flex-row-fluid flex-center flex-column-auto flex-column text-center mb-5 align-items-center">
                <!--begin::Aside Logo-->
                <div class="d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
                    <img alt="로고" th:src="@{/img/E114_logo.png}" class="h-450px h-lg-450px"/>
                </div>
                <!--end::Aside Logo-->
            </div>
        </div>


        <div class="login-content flex-lg-row-fluid d-flex flex-column position-relative overflow-hidden py-10 py-lg-20 px-10 p-lg-7 mw-550px w-100">
            <!--begin::Wrapper-->
            <div class="d-flex flex-column-fluid flex-center py-10">
                <!--begin::Signin Form-->
                <form class="form w-100 needs-validation" novalidate id="myForm">
                    <!--begin::Title-->
                    <div class="pb-5 pb-lg-1">
                        <h3 class="fw-bolder text-dark display-6">회원가입</h3>
                        <p class="text-muted fw-bold fs-3">회원가입하고 다양한 혜택을 누리세요!</p>
                    </div>
                    <div class="text-end">
                        <label class="form-label fs-8 fw-bolder pt-4" style="color: #ff0000">*</label>
                        <label class="form-label fs-8 fw-bolder pt-4" style="color: #AFB2C2">필수 입력 정보입니다.</label>
                    </div>

                    <div class="fv-row mb-5">
                        <label class="form-label fs-6 fw-bolder text-dark pt-5" for="uid">아이디</label>
                        <label class="form-label fs-8 fw-bolder pt-4" style="color: #ff0000" for="uid">*</label>
                        <div class="d-flex align-items-center position-relative">
                            <input class="form-control form-control-lg form-control-solid me-2" type="text"
                                   placeholder="" name="uid" id="uid" autocomplete="off"
                                   style="border-color: #0099FF; width: 350px; height: 40px;" required>
                            <button type="button" class="btn btn-primary fw-bolder fs-5 px-2 py-3 my-3 text-center"
                                    style="width: 150px; height: 45px;">중복 확인
                            </button>
                            <div class="position-absolute w-100" style="top: 55px;">
                                <div class="invalid-feedback" id="uid-empty">필수 입력 정보입니다.</div>
                                <div class="invalid-feedback" id="uid-length">아이디는 5~20자의 영문, 숫자만 사용 가능합니다.</div>
                                <div class="invalid-feedback" id="uid-alphanumeric">아이디는 5~20자의 영문, 숫자만 사용 가능합니다.</div>
                            </div>
                        </div>

                    </div>

                    <div class="fv-row mb-5">
                        <label class="form-label fs-6 fw-bolder text-dark pt-5">비밀번호</label>
                        <label class="form-label fs-8 fw-bolder pt-4" style="color: #ff0000">*</label>
                        <input class="form-control form-control-lg form-control-solid" type="password"
                               placeholder="" name="password" id="password" autocomplete="off"
                               style="border-color: #0099FF;" required/>
                        <div>
                            <div id="password-empty" class="invalid-feedback">필수 입력 정보입니다.</div>
                            <div id="password-invalid" class="invalid-feedback">비밀번호는 대소문자, 숫자, 특수문자를 포함한 8자 이상 20자
                                이하이어야
                                합니다.
                            </div>
                        </div>
                    </div>

                    <div class=" fv-row mb-5">
                        <label class="form-label fs-6 fw-bolder text-dark pt-5">비밀번호 재확인</label>
                        <input class="form-control form-control-lg form-control-solid" type="password" placeholder=""
                               name="cpassword" id="cpassword" autocomplete="off" style="border-color: #0099FF;"
                               required/>
                        <div>
                            <div id="cpassword-mismatch" class="invalid-feedback">비밀번호가 일치하지 않습니다.</div>
                        </div>
                    </div>


                    <div class="fv-row mb-5" required>
                        <label class="form-label fs-6 fw-bolder text-dark pt-5">기업 명</label>
                        <label class="form-label fs-8 fw-bolder pt-4" style="color: #ff0000">*</label>
                        <input class="form-control form-control-lg form-control-solid" type="text" placeholder=""
                               name="nid" id="nid" autocomplete="off" style="border-color: #0099FF;"
                               required/>
                        <div>
                            <div id="nid-empty" class="invalid-feedback">필수 입력 정보입니다.</div>
                            <div id="nid-invalid" class="invalid-feedback">한글 1자 이상 20자 이하이어야 합니다.</div>
                        </div>
                    </div>

                    <div>

                        <div class=" fv-row mb-5">
                            <label class="form-label fs-6 fw-bolder text-dark pt-5">이메일</label>
                            <label class="form-label fs-8 fw-bolder pt-4" style="color: #ff0000">*</label>
                            <input class="form-control form-control-lg form-control-solid" type="email"
                                   placeholder="you@example.com" name="email" id="email" autocomplete="off"
                                   style="border-color: #0099FF;" required/>
                            <div>
                                <div id="email-empty" class="invalid-feedback">필수 입력 정보입니다.</div>
                                <div id="email-invalid" class="invalid-feedback">이메일 형식이 아닙니다.</div>
                            </div>
                        </div>

                    </div>

                    <div class="fv-row mb-5" required>
                        <label class="form-label fs-6 fw-bolder text-dark pt-5">휴대번호</label>
                        <label class="form-label fs-8 fw-bolder pt-4" style="color: #ff0000">*</label>
                        <div class="d-flex align-items-center">
                            <input class="form-control form-control-lg form-control-solid me-2" type="tel"
                                   placeholder="" name="num1" id="num1" autocomplete="off"
                                   style="border-color: #0099FF; width: 350px; height: 40px;"/>
                            <button type="button" class="btn btn-primary fw-bolder fs-5 px-2 py-3 my-3 text-center"
                                    style="width: 150px; height: 45px;">인증번호 받기
                            </button>
                        </div>
                        <div>
                            <div class="invalid-feedback" id="num1-empty">필수 입력 정보입니다.</div>
                            <div class="invalid-feedback" id="num1-invalid">숫자만 입력 가능합니다.</div>
                        </div>
                    </div>


                    <div class="fv-row mb-5" id="tel1" name="tel" required>
                        <div class="d-flex align-items-center">
                            <input class="form-control form-control-lg form-control-solid me-2" type="tel"
                                   placeholder="" name="num2" id="num2" autocomplete="off"
                                   style="border-color: #0099FF; width: 350px; height: 40px;">
                            <button type="button"
                                    class="btn btn-primary fw-bolder fs-5 px-2 py-3 my-3 text-center"
                                    style="width: 150px; height: 45px;">인증번호 인증
                            </button>
                        </div>
                        <div>
                            <div class="invalid-feedback" id="num2-empty">필수 입력 정보입니다.</div>
                            <div class="invalid-feedback" id="num2-invalid">숫자만 입력 가능합니다.</div>
                        </div>
                    </div>

                    <div class=" fv-row mb-5" id="enterprise">
                        <label class="form-label fs-6 fw-bolder text-dark pt-5">사업자등록번호</label>
                        <label class="form-label fs-8 fw-bolder pt-4" style="color: #ff0000">*</label>
                        <div class="d-flex align-items-center">
                            <input class="form-control form-control-lg form-control-solid me-2" type="tel"
                                   placeholder=" - 없이 입력" name="enter" id="enter" autocomplete="off"
                                   style="border-color: #0099FF; width: 300px; height: 40px;">
                            <button type="submit"
                                    class="btn btn-primary fw-bolder fs-5 px-2 py-3 my-3 text-center"
                                    style=" width: 200px; height: 45px;">사업자등록번호 인증
                            </button>
                        </div>
                        <div class="position-relative">
                            <div class="invalid-feedback" id="enter-empty">필수 입력 정보입니다.</div>
                            <div class="invalid-feedback" id="enter-invalid">숫자만 입력 가능합니다.</div>
                        </div>
                    </div>


                    <div class="separator border-dark my-10" style="border-width: 2px;"></div>
                    <div class="fv-row mb-5">
                        <label class="form-label fs-5 fw-bolder text-dark pt-0">장르</label>
                        <div class="d-flex mt-3 mb-5">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="Radio1"
                                       value="option1">
                                <label class="form-check-label" for="Radio1">가요</label>
                            </div>
                            <div class="form-check form-check-inline ms-3 me-3">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="Radio2"
                                       value="option2">
                                <label class="form-check-label" for="Radio2">발라드</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="Radio3"
                                       value="option3">
                                <label class="form-check-label" for="Radio3">힙합</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="Radio4"
                                       value="option4">
                                <label class="form-check-label" for="Radio4">댄스</label>

                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="Radio5"
                                       value="option5">
                                <label class="form-check-label" for="Radio5">기타</label>
                            </div>
                        </div>
                    </div>
                    <div class="separator border-dark my-10" style="border-width: 2px;"></div>

                    <div class="fv-row mb-10 mt-10">
                        <div class="form-check form-check-inline form-check-custom form-check-solid mb-5">
                            <input class="form-check-input" type="checkbox" name="chk_agree" id="chk_agree" value="1"
                                   required/>
                            <label class="form-check-label fw-bold text-gray-600" for="chk_agree">I Agree the <a
                                    href="#" class="ms-1">terms and conditions</a>.</label>
                        </div>
                        <div class="invalid-feedback" id="chk_agree-invalid" style="display: none;">약관에 동의해주세요.</div>
                    </div>
                    <div class="d-flex flex-wrap justify-content-center pb-lg-0 pb-5">
                        <!-- justify-content-end 클래스를 추가하여 오른쪽으로 정렬 -->
                        <button type="submit" class="btn btn-primary fw-bolder fs-4 px-8 py-4 my-3 me-4">회원 가입 완료
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/loginJoin/join2.js}"></script>
</div>
</body>
</html>