<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--begin::Head-->

<head>
    <title>Eumyurato</title>
    <link rel="icon" th:href="@{/img/E114_logo.png}" type="image/x-icon"/>
    <meta charset="utf-8"/>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
            referrerpolicy="no-referrer"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/loginJoin/loginJoin2.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/loginJoin/loginJoin1.css}" type="text/css"/>
    <!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->

<body class="bg-white" id="kt_body">
<!--begin::Main-->
<div class="d-flex flex-column flex-root">
    <!--begin::Login-->
    <div class="d-flex flex-column flex-lg-row flex-column-fluid" id="kt_login">
        <div class="d-flex flex-column flex-lg-row-auto bg-primary pt-15 pt-lg-0 center" id="leftArea">
            <!--begin::Aside Top-->
            <div class="d-flex flex-row-fluid flex-center flex-column-auto flex-column text-center mb-5 align-items-center">
                <!--begin::Aside Logo-->
                <a class="mb-6" th:href="@{/}">
                    <div class="d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
                        <img alt="로고" class="h-450px h-lg-450px" th:src="@{/img/E114_logo.png}"/>
                    </div>
                </a>
                <!--end::Aside Logo-->
            </div>
        </div>
        <div class="d-flex flex-column flex-lg-row-auto bg-primary pt-15 pt-lg-0 d-none d-lg-flex" id="leftArea2">
            <div class="d-flex flex-row-fluid flex-center flex-column-auto flex-column text-center mb-5 align-items-center">
                <!--begin::Aside Logo-->
                <div class="d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
                    <img alt="로고" class="h-450px h-lg-450px" th:src="@{/img/E114_logo.png}"/>
                </div>
                <!--end::Aside Logo-->
            </div>
        </div>


        <div class="login-content flex-lg-row-fluid d-flex flex-column position-relative overflow-hidden py-10 py-lg-20 px-10 p-lg-7 mw-550px w-100">
            <!--begin::Wrapper-->
            <div class="d-flex flex-column-fluid flex-center py-10">
                <!--begin::Signin Form-->
                <form action="/common-join" class="form w-100 needs-validation" id="myForm" method="post" novalidate>
                    <!--begin::Title-->
                    <div class="pb-5 pb-lg-1">
                        <h3 class="fw-bolder text-dark display-6">회원가입</h3>
                        <p class="text-muted fw-bold fs-3">회원가입하고 다양한 혜택을 누리세요!</p>
                    </div>
                    <div class="text-end">
                        <label class="form-label fs-8 fw-bolder pt-4" style="color: #ff0000">*</label>
                        <label class="form-label fs-8 fw-bolder pt-4" style="color: #AFB2C2">필수 입력 정보입니다.</label>
                    </div>

                    <div class="fv-row mb-5">
                        <label class="form-label fs-6 fw-bolder text-dark pt-5" for="id">아이디</label>
                        <label class="form-label fs-8 fw-bolder pt-4" for="id" style="color: #ff0000">*</label>
                        <div class="d-flex align-items-center position-relative">
                            <input autocomplete="off" class="form-control form-control-lg form-control-solid me-2"
                                   id="id" name="id" placeholder="5~20자의 영문, 숫자만 사용 가능" required
                                   style="border-color: #0099FF; width: 350px; height: 40px;" type="text">
                            <button class="btn btn-primary fw-bolder fs-5 px-2 py-3 my-3 text-center"
                                    style="width: 150px; height: 45px;"
                                    type="button">중복 확인
                            </button>
                            <div class="position-absolute w-100" style="top: 55px;">
                                <div class="invalid-feedback" id="uid-empty">필수 입력 정보입니다.</div>
                                <div class="invalid-feedback" id="uid-length">아이디는 5~20자의 영문, 숫자만 사용 가능합니다.</div>
                                <div class="invalid-feedback" id="uid-alphanumeric">아이디는 5~20자의 영문, 숫자만 사용 가능합니다.</div>
                                <div class="valid-feedback" id="uid-available" style="display: none;">사용 가능한 아이디입니다.
                                </div>
                                <div class="invalid-feedback" id="uid-duplicate" style="display: none;">중복된 아이디입니다.
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="fv-row mb-5">
                        <label class="form-label fs-6 fw-bolder text-dark pt-5">비밀번호</label>
                        <label class="form-label fs-8 fw-bolder pt-4" style="color: #ff0000">*</label>
                        <input autocomplete="off" class="form-control form-control-lg form-control-solid"
                               id="pwd" name="pwd" placeholder="대소문자, 숫자, 특수문자를 포함한 8자 이상 20자" required
                               style="border-color: #0099FF;" type="password"/>
                        <div>
                            <div class="invalid-feedback" id="password-empty">필수 입력 정보입니다.</div>
                            <div class="invalid-feedback" id="password-invalid">비밀번호는 대소문자, 숫자, 특수문자를 포함한 8자 이상 20자
                                이하이어야
                                합니다.
                            </div>
                        </div>
                    </div>

                    <div class=" fv-row mb-5">
                        <label class="form-label fs-6 fw-bolder text-dark pt-5">비밀번호 재확인</label>
                        <input autocomplete="off" class="form-control form-control-lg form-control-solid" id="cpassword"
                               name="cpassword" placeholder="" required style="border-color: #0099FF;"
                               type="password"/>
                        <div>
                            <div class="invalid-feedback" id="cpassword-mismatch">비밀번호가 일치하지 않습니다.</div>
                        </div>
                    </div>

                    <div class=" fv-row mb-5">
                        <label class="form-label fs-6 fw-bolder text-dark pt-5">이름</label>
                        <label class="form-label fs-8 fw-bolder pt-4" style="color: #ff0000">*</label>
                        <input autocomplete="off" class="form-control form-control-lg form-control-solid" id="name"
                               name="name" placeholder="" required
                               style="border-color: #0099FF;" type="text"/>
                        <div>
                            <div class="invalid-feedback" id="name-empty">필수 입력 정보입니다.</div>
                            <div class="invalid-feedback" id="name-invalid">자음, 모음만 있는 한글은 불가합니다.</div>
                            <div class="invalid-feedback" id="name-vowel">한글로 입력 해주세요.</div>
                        </div>
                    </div>

                    <div class="fv-row mb-5">
                        <label class="form-label fs-6 fw-bolder text-dark pt-5">닉네임</label>
                        <label class="form-label fs-8 fw-bolder pt-4" style="color: #ff0000">*</label>
                        <div class="d-flex align-items-center">
                            <input autocomplete="off" class="form-control form-control-lg form-control-solid me-2"
                                   id="nid" name="nid" placeholder="한글 1자 이상 20자 이하이어야 합니다"
                                   required
                                   style="border-color: #0099FF; width: 350px; height: 40px;" type="text"/>
                            <button class="btn btn-primary fw-bolder fs-5 px-2 py-3 my-3 text-center"
                                    id="duplicateBtn2"
                                    style="width: 150px; height: 45px;" type="button">중복 확인
                            </button>
                        </div>
                        <div>
                            <div class="invalid-feedback" id="nid-empty">필수 입력 정보입니다.</div>
                            <div class="invalid-feedback" id="nid-invalid">한글 1자 이상 20자 이하이어야 합니다.</div>
                            <!-- 한글만 입력 가능하도록 정규식 패턴 수정 -->
                            <div class="invalid-feedback" id="nid-non-korean">한글만 입력 가능합니다.</div>
                            <div class="invalid-feedback" id="nid-duplicate" style="display: none;">중복된 닉네임입니다.</div>
                            <div class="valid-feedback" id="nid-available" style="display: none;">사용 가능한 닉네임입니다.</div>
                        </div>
                    </div>

                    <div class="fv-row mb-5">
                        <label class="form-label fs-6 fw-bolder text-dark pt-5">성별</label>
                        <label class="form-label fs-8 fw-bolder pt-4" style="color: #ff0000">*</label>
                        <div id="sexRadio">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="sexRadio1" name="sexRadio" type="radio"
                                       value="option1">
                                <label class="form-check-label" for="sexRadio1">남자</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="sexRadio2" name="sexRadio" type="radio"
                                       value="option2">
                                <label class="form-check-label" for="sexRadio2">여자</label>
                            </div>
                            <div class="invalid-feedback" id="sexRadio_check">필수 입력 정보입니다.</div>
                        </div>
                    </div>

                    <div>

                        <div class=" fv-row mb-5">
                            <label class="form-label fs-6 fw-bolder text-dark pt-5">생년월일</label>
                            <label class="form-label fs-8 fw-bolder pt-4" style="color: #ff0000">*</label>
                            <input autocomplete="off" class="form-control form-control-lg form-control-solid"
                                   id="birth" name="birth" placeholder="you@example.com" required
                                   style="border-color: #0099FF;" type="date"/>
                            <div>
                                <div class="invalid-feedback" id="date-empty">필수 입력 정보입니다.</div>
                            </div>
                        </div>

                    </div>


                    <div>

                        <div class=" fv-row mb-5">
                            <label class="form-label fs-6 fw-bolder text-dark pt-5">이메일</label>
                            <label class="form-label fs-8 fw-bolder pt-4" style="color: #ff0000">*</label>
                            <input autocomplete="off" class="form-control form-control-lg form-control-solid"
                                   id="email" name="email" placeholder="you@example.com" required
                                   style="border-color: #0099FF;" type="email"/>
                            <div>
                                <div class="invalid-feedback" id="email-empty">필수 입력 정보입니다.</div>
                                <div class="invalid-feedback" id="email-invalid">이메일 형식이 아닙니다.</div>
                            </div>
                        </div>

                    </div>

                    <div>
                        <div class=" fv-row mb-5">
                            <label class="form-label fs-6 fw-bolder text-dark pt-5">휴대번호</label>
                            <label class="form-label fs-8 fw-bolder pt-4" style="color: #ff0000">*</label>
                            <input autocomplete="off" class="form-control form-control-lg form-control-solid"
                                   id="phone" name="phone" placeholder="-제외 입력하시오"
                                   required style="border-color: #0099FF;" type="tel"/>
                            <div>
                                <div class="invalid-feedback" id="num1-empty">필수 입력 정보입니다.</div>
                                <div class="invalid-feedback" id="num1-invalid">숫자만 입력 가능합니다.</div>
                            </div>
                        </div>
                    </div>

                    <div class="separator border-dark my-10" style="border-width: 2px;"></div>
                    <div class="fv-row mb-5">
                        <label class="form-label fs-5 fw-bolder text-dark pt-0">유입 경로</label>
                        <div class="d-flex mt-3 mb-5">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineRadio1" name="road"
                                       type="radio" value="option1">
                                <label class="form-check-label" for="inlineRadio1">검색</label>
                            </div>
                            <div class="form-check form-check-inline ms-3 me-3">
                                <input class="form-check-input" id="inlineRadio2" name="road"
                                       type="radio" value="option2">
                                <label class="form-check-label" for="inlineRadio2">광고</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineRadio3" name="road"
                                       type="radio" value="option3">
                                <label class="form-check-label" for="inlineRadio3">지인 추천</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineRadio4" name="road"
                                       type="radio" value="option4">
                                <label class="form-check-label" for="inlineRadio4">기타</label>
                            </div>
                        </div>
                    </div>

                    <div class="separator border-dark my-10" style="border-width: 2px;"></div>
                    <div class="fv-row mb-5">
                        <label class="form-label fs-5 fw-bolder text-dark pt-0">선호 장르</label>
                        <div class="d-flex mt-3 mb-5">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="Radio1" name="genre" type="radio"
                                       value="option1">
                                <label class="form-check-label" for="Radio1">가요</label>
                            </div>
                            <div class="form-check form-check-inline ms-3 me-3">
                                <input class="form-check-input" id="Radio2" name="genre" type="radio"
                                       value="option2">
                                <label class="form-check-label" for="Radio2">발라드</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="Radio3" name="genre" type="radio"
                                       value="option3">
                                <label class="form-check-label" for="Radio3">힙합</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="Radio4" name="genre" type="radio"
                                       value="option4">
                                <label class="form-check-label" for="Radio4">댄스</label>

                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="Radio5" name="genre" type="radio"
                                       value="option5">
                                <label class="form-check-label" for="Radio5">기타</label>
                            </div>
                        </div>
                    </div>
                    <div class="separator border-dark my-10" style="border-width: 2px;"></div>

                    <div class="fv-row mb-10 mt-10">
                        <div class="form-check form-check-inline form-check-custom form-check-solid mb-5">
                            <input class="form-check-input" id="chk_agree" name="chk_agree" required type="checkbox"
                                   value="1"/>
                            <label class="form-check-label fw-bold text-gray-600" for="chk_agree">I Agree the <a
                                    class="ms-1" href="#">terms and conditions</a>.</label>
                        </div>
                        <div class="invalid-feedback" id="chk_agree-invalid" style="display: none;">약관에 동의해주세요.</div>
                    </div>
                    <div class="d-flex flex-wrap justify-content-center pb-lg-0 pb-5">
                        <!-- justify-content-end 클래스를 추가하여 오른쪽으로 정렬 -->
                        <button class="btn btn-primary fw-bolder fs-4 px-8 py-4 my-3 me-4" type="submit" id="joinButton">회원 가입 완료</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/js/loginJoin/join1.js}" type="text/javascript"></script>
</div>
</body>
</html>