<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--begin::Head-->

<head>
    <title>Eumyurato</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/E114_logo.png}"/>
    <meta charset="utf-8"/>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link th:href="@{/css/loginJoin/loginJoin2.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/loginJoin/loginJoin1.css}" rel="stylesheet" type="text/css"/>
    <!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->

<body id="kt_body" class="bg-white">
<!--begin::Main-->
<div class="d-flex flex-column flex-root">
    <!--begin::Login-->
    <div class="d-flex flex-column flex-lg-row flex-column-fluid" id="kt_login">
        <div class="d-flex flex-column flex-lg-row-auto bg-primary pt-15 pt-lg-0 center" id="leftArea">
            <!--begin::Aside Top-->
            <div class="d-flex flex-row-fluid flex-center flex-column-auto flex-column text-center mb-5 align-items-center">
                <!--begin::Aside Logo-->
                <a th:href="@{/}" class="mb-6">
                    <div class="d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
                        <img alt="로고" th:src="@{/img/E114_logo.png}" class="h-450px h-lg-450px"/>
                    </div>
                </a>
                <!--end::Aside Logo-->
            </div>
        </div>
        <div class="d-flex flex-column flex-lg-row-auto bg-primary pt-15 pt-lg-0 d-none d-lg-flex" id="leftArea2">
            <div class="d-flex flex-row-fluid flex-center flex-column-auto flex-column text-center mb-5 align-items-center">
                <!--begin::Aside Logo-->
                <div class="d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
                    <img alt="로고" th:src="@{/img/E114_logo.png}" class="h-450px h-lg-450px"/>
                </div>
                <!--end::Aside Logo-->
            </div>
        </div>


        <!--사이드-->
        <!--begin::Aside-->
        <!--begin::Content-->
        <!--로그인폼-->
        <div class="login-content flex-lg-row-fluid d-flex flex-column overflow-hidden py-10 py-lg-20 px-10 p-lg-7 mx-auto mw-450px w-100">
            <!--begin::Wrapper-->
            <!--begin::Signin Form-->
            <form class="form w-100  needs-validation" id="kt_login_signin_form" novalidate method="post">
                <div class="pb-5 pb-lg-10 justify-content-center text-center">
                    <h3 class="fw-bolder text-dark display-6">Welcome to Eumyurato</h3>
                    <br>
                    <div>
                        <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
                        <a class="btn btn-secondary" for="option1"
                           style="font-weight: bold; background-color: #294ba1; color: #FFFFFF" th:href="@{/login}">일반 회원</a>

                        <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
                        <a class="btn btn-secondary ms-3" for="option2"
                           style="font-weight: bold; background-color: #294ba1; color: #FFFFFF">아티스트 회원</a>

                        <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
                        <a class="btn btn-secondary ms-3" for="option3"
                           style="font-weight: bold; background-color: #294ba1; color: #FFFFFF" th:href="@{/login_enter}">기업 회원</a>
                    </div>
                </div>

                <div class="fv-row mb-10">
                    <label class="form-label fs-6 fw-bolder text-dark">아이디</label>
                    <input type="text" class="form-control form-control-lg form-control-solid" required id="id"
                           name="id" autocomplete="off" style="border-color: #0099FF;" maxLength="20"/>
                    <div class="invalid-feedback">
                        아이디를 입력해주세요.
                    </div>
                </div>

                <div class="fv-row mb-10">
                    <div class="d-flex justify-content-between mt-n5">
                        <label class="form-label fs-6 fw-bolder text-dark pt-5">비밀번호</label>
                    </div>
                    <input type="password" class="form-control form-control-lg form-control-solid" required id="pw"
                           name="pw" autocomplete="off" style="border-color: #0099FF;" maxLength="20"/>
                    <div class="invalid-feedback">
                        비밀번호를 입력해주세요.
                    </div>
                </div>

                <!--end::Form group-->
                <!--begin::Action-->
                <div class="pb-lg-0 pb-5 d-flex align-items-center justify-content-between">

                    <button type="submit" id="login_button"
                            class="btn btn-primary fw-bolder fs-4 py-3" style="width: 400px;">로그인
                    </button>

                </div>
                <div class="pb-lg-0 pb-5 mt-5 d-flex align-items-center justify-content-center">
                    <div>
                        <a th:href="@{/Idfind}"
                           class="text-gray-600 text-hover-primary ms-3" id="kt_login_signin_form_id_reset_button">아이디
                            찾기</a>
                        <a target="_blank"
                           class="text-gray-600 text-hover-primary ms-3">|</a>
                        <a th:href="@{/Pwfind}"
                           class="text-gray-600 text-hover-primary ms-3"
                           id="kt_login_signin_form_password_reset_button">비밀번호 찾기</a>
                        <!-- 왼쪽에 정렬할 텍스트와의 간격을 조정 -->
                        <a target="_blank"
                           class="text-gray-600 text-hover-primary ms-3">|</a>
                        <a th:href="@{/joinchooes}"
                           class="text-gray-600 text-hover-primary ms-3" id="kt_login_signup_choose_form">회원가입</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/loginJoin/login.js}"></script>
</body>
</html>